# =========================
# Spring Boot / Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# =========================
# IDE Files
# =========================

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
.env
.env.*


# =========================
# Secrets / Keys
# =========================
*.pem
*.key
*.jks
*.p12
*.keystore

# =========================
# Docker
# =========================
docker-data/
mysql-data/
redis-data/

# =========================
# Build Outputs
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Test / Coverage
# =========================
coverage/
sonar/
.sonar/
jacoco.exec

# =========================
# Temporary Files
# =========================
*.tmp
*.swp
*~
.metadata/
